{% extends "base.html" %}

{% block body %}

<div class="central-featured" data-el-section="primary links">
    <!-- logo -->
    <div class="central-featured-logo-wrapper">
        <img class="central-featured-logo" src="img/Wikipedia-logo-v2.png">
    </div>

    <div class="central-featured-lang lang1" dir="ltr" lang="fr">
        <a href="#yw" >
            <strong>YW</strong>

        </a>
    </div><div class="central-featured-lang lang2" dir="ltr" lang="en">
    <a id="" href="#yela" >
        <strong>Yé là</strong>

    </a>
</div>
    <div class="central-featured-lang lang3" dir="ltr" lang="de">
        <a id="" href="#ennw" "="" >
        <strong>ennw</strong>

        </a>
    </div><div class="central-featured-lang lang4" dir="ltr" lang="es">
    <a id="" href="#chenipieds" >
        <strong>Chenipieds</strong>

    </a>
</div>

    <div class="central-featured-lang lang5" dir="ltr" lang="ja">
        <a id="" href="#snebwew" >
            <strong>Snèbwèw</strong>

        </a>
    </div>

    <div class="central-featured-lang lang6" dir="ltr" lang="ru">
        <a id="" href="#dowmiw" >
            <strong>dowmiw</strong>

        </a>
    </div>

    <div class="central-featured-lang lang7" dir="ltr" lang="it">
        <a id="" href="#jtm" "="" >
        <strong>Jtm</strong>

        </a>

    </div>
    <div class="central-featured-lang lang8" dir="ltr" lang="zh">
        <a id="" href="#mrle" >
            <strong>Mrle</strong>

        </a>

    </div>
    <div class="central-featured-lang lang9" dir="ltr" lang="pt">
        <a id="tki" href="#tki" >
            <strong>T KI</strong>

        </a>
    </div>
    <div class="central-featured-lang lang10" dir="ltr" lang="pl">
        <a id="mweton" href="#mweton" >
            <strong>Mwe ton</strong>

        </a>
    </div>
</div>
{% endblock %}
