{% extends "base.html" %}

{% block body %}

<div class="central-featured" data-el-section="primary links">
    <!-- logo -->
    <div class="central-featured-logo-wrapper">
        <img class="central-featured-logo" src="img/Wikipedia-logo-v2.png">
    </div>

    <div class="central-featured-lang lang1" dir="ltr" lang="fr">
        <a href="#yw" title="Français — Wikipédia — L’encyclopédie libre" class="link-box" data-slogan="L’encyclopédie libre">
            <strong>YW</strong>
            <small><bdi dir="ltr">1&nbsp;864&nbsp;000+</bdi> <span>articles</span></small>
        </a>
    </div><div class="central-featured-lang lang2" dir="ltr" lang="en">
    <a id="" href="#yela" title="English — Wikipedia — The Free Encyclopedia" class="link-box" data-slogan="The Free Encyclopedia">
        <strong>Yé là</strong>
        <small><bdi dir="ltr">5&nbsp;392&nbsp;000+</bdi> <span>articles</span></small>
    </a>
</div>
    <div class="central-featured-lang lang3" dir="ltr" lang="de">
        <a id="" href="#ennw" "="" title="Deutsch — Wikipedia — Die freie Enzyklopädie" class="link-box" data-slogan="Die freie Enzyklopädie">
        <strong>ennw</strong>
        <small><bdi dir="ltr">2&nbsp;055&nbsp;000+</bdi> <span>Artikel</span></small>
        </a>
    </div><div class="central-featured-lang lang4" dir="ltr" lang="es">
    <a id="" href="#chenipieds" title="Español — Wikipedia — La enciclopedia libre" class="link-box" data-slogan="La enciclopedia libre">
        <strong>Chenipieds</strong>
        <small><bdi dir="ltr">1&nbsp;330&nbsp;000+</bdi> <span>artículos</span></small>
    </a>
</div>

    <div class="central-featured-lang lang5" dir="ltr" lang="ja">
        <a id="" href="#snebwew" title="Nihongo — ウィキペディア — フリー百科事典" class="link-box" data-slogan="フリー百科事典">
            <strong>Snèbwèw</strong>
            <small><bdi dir="ltr">1&nbsp;058&nbsp;000+</bdi> <span>記事</span></small>
        </a>
    </div>

    <div class="central-featured-lang lang6" dir="ltr" lang="ru">
        <a id="" href="#dowmiw" title="Russkiy — Википедия — Свободная энциклопедия" class="link-box" data-slogan="Свободная энциклопедия">
            <strong>dowmiw</strong>
            <small><bdi dir="ltr">1&nbsp;389&nbsp;000+</bdi> <span>статей</span></small>
        </a>
    </div>

    <div class="central-featured-lang lang7" dir="ltr" lang="it">
        <a id="" href="#jtm" "="" title="Italiano — Wikipedia — L’enciclopedia libera" class="link-box" data-slogan="L’enciclopedia libera">
        <strong>Jtm</strong>
        <small><bdi dir="ltr">1&nbsp;351&nbsp;000+</bdi> <span>voci</span></small>
        </a>

    </div>
    <div class="central-featured-lang lang8" dir="ltr" lang="zh">
        <a id="" href="#mrle" title="Zhōngwén — 維基百科 — 自由的百科全書" class="link-box" data-converttitle-hans="Zhōngwén — 维基百科 — 自由的百科全书" data-slogan="自由的百科全書">
            <strong>Mrle</strong>
            <small><bdi dir="ltr">938&nbsp;000+</bdi> <span data-convert-hans="条目" id="zh_art">條目</span></small>
        </a>

    </div>
    <div class="central-featured-lang lang9" dir="ltr" lang="pt">
        <a id="tki" href="#tki" title="Português — Wikipédia — A enciclopédia livre" class="link-box" data-slogan="A enciclopédia livre">
            <strong>T KI</strong>
            <small><bdi dir="ltr">966&nbsp;000+</bdi> <span>artigos</span></small>
        </a>
    </div>
    <div class="central-featured-lang lang10" dir="ltr" lang="pl">
        <a id="mweton" href="#mweton" title="Polski — Wikipedia — Wolna encyklopedia" class="link-box" data-slogan="Wolna encyklopedia">
            <strong>Mwe ton</strong>
            <small><bdi dir="ltr">1&nbsp;218&nbsp;000+</bdi> <span>haseł</span></small>
        </a>
    </div>
</div>
{% endblock %}
