<p>Le wikiloult utilise un formatage en markdown. Voici une référence rapide de ce langage de formatage.</p>

<h4>Formatage de Base</h4>
<ul>
    <li><em>Italique</em> avec des *astériques* ou _tirets du bas_.</li>
    <li><strong>En gras</strong> avec des **doubles astérisques** ou __double tirets du bas__.</li>
    <li><del>Raturé</del> avec des ~~tildes~~.</li>
</ul>

<h4>Titres</h4>
<p>Il suffit de préfixer du texte par des "#" pour le transformer en titre</p>
<ul>
    <li><h1># Titre h1</h1></li>
    <li><h2>## Titre h2</h2></li>
    <li><h3>### Titre h3</h3></li>
    <li><h4>#### Titre h4</h4></li>
    <li><h5>##### Titre h5</h5></li>
    <li><h6>###### Titre h5</h6></li>
</ul>

<h4>Liens et images</h4>
<pre>
    Lien vers un [site externe](https://loult.family/)
    Liens vers une [[page du wiki|nwe_nwe_rce]]
</pre>
<p>Notez pour que le liens vers une page fonctionne, il faut utiliser le nom de la page (et non le titre),
    qu'il est possible de trouver dans le lien de la page. Par exemple, s'il s'agit de la page
    https://wikiloult.family/page/nwe_nwe_rce, le nom à utiliser est nwe_nwe_rce.</p>
<pre>
    Voici pour une image:
    ![alt text](https://imgur.com/AAAAAA "Titre quand on passe dessus avec la souris")
</pre>

<h4>Listes</h4>
<p>Pour les listes, il existe deux possibilités: les listes ordonnées et inordonnées</p>
<pre>
    1. élement d'une liste ordonnée
    2. élement d'une liste ordonnée
    3. élement d'une liste ordonnée
</pre>
ou alors
<pre>
    - élément d'une liste désordonnée
    - élément d'une liste désordonnée
    - élément d'une liste désordonnée
</pre>

<h4>Tables</h4>
<p>Voilà un exemple de base</p>
<pre>
    | Titre         | de              | table |
    | ------------- |:---------------:| -----:|
    | col 3 est     | alignée à droite| $1600 |
    | col 2 est     | centrée         |   $12 |
    | c le          | nwe nwe rce     | ennww |
</pre>