{% extends "base.html" %}
{% from 'macros.html' import format_user %}

{% block body %}
    <h1 class="text-center">Résultat de la recherche pour "{{ request.args.query }}"</h1>
    <div class="list-group">
    {% for result in results_list %}
        <a href="{{ url_for('page', page_name=result._id) }}" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ result.title }}</h5>
                <small>Dernière modif le {{ result.last_edit.strftime('%d-%m-%Y') }}</small>
            </div>
            <p class="mb-1">{{ result.raw_text|truncate(300) }}</p>
        </a>

    {% endfor %}
    </div>
{% endblock %}
