{% extends "base.html" %}

{% block body %}
{% if message is defined %}
<div class="alert alert-warning">
  {{ message }}
</div>
{% endif %}

<div class="container">
  <h2>Nouvel article</h2>
  <form method="post" action="{{ url_for('page_create') }}">
    <div class="form-group">
      <label for="name" class="control-label">Nom de la page (utilisé pour l'adresse de la page)</label>
      <input type="text" class="form-control" id="name" name="name"
             placeholder="Uniquement des lettres et tirets du bas. Exemple: a_sa_we"
             value="{{ page_name if page_name != None }}">
      <label for="title" class="control-label">Titre</label>
      <input type="text" class="form-control" id="title" name="title"
             value="{{ page_title if page_title is defined }}">
    </div>
    <div class="form-group">
      <label for="content" class="control-label">Contenu</label>
      <textarea class="form-control" id="content" name="content">
        {{ page_content if page_content != None }}
      </textarea>
    </div>
    <button type="submit" class="btn btn-submit">Valider</button>
    <button type="submit" class="btn btn-submit" name="preview">Aperçu</button>
</div>
{% endblock %}
