{% extends "base.html" %}

{% block body %}
{% if message is defined %}
<div class="alert alert-warning">
    {{ message }}
</div>
{% endif %}

<div class="container">
    <h2>Edition de l'article</h2>
    <form method="post" action="{{ url_for('page_edit', page_name=page_name) }}">
        <div class="form-group">
            <label for="title" class="control-label">Titre</label>
            <input type="text" class="form-control" id="title" name="title"
                   value="{{ page_title if page_title is defined }}">
        </div>
        <div class="form-group">
            <label for="content" class="control-label">Contenu</label>
      <textarea class="form-control" id="content" name="content">{{ page_content if page_content != None }}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Valider</button>
        <button type="submit" class="btn btn-primary" name="preview">Aperçu</button>
        <p>
            <button class="btn" type="button" data-toggle="collapse" data-target="#markdown-help" aria-expanded="false" aria-controls="markdown-help">
                Aide au formatage
            </button>
        </p>
        <div class="collapse" id="markdown-help">
            <div class="card card-block">
                {% include 'markdown.html' %}
            </div>
        </div>
        {% if preview is defined %}
            <hr/>
            <h3>Aperçu de l'article</h3>
            <div id="preview">
                {{ preview | safe }}
            </div>
        {% endif %}
</div>
{% endblock %}

{% block custom_js %}
    <script src="{{ url_for('static', filename='js/edition.js') }}"></script>
{% endblock %}
