{% extends "base.html" %}

{% block body %}
    <h1>Règlement du wiki</h1>
    <h2>1. Édition</h2>
    <p>Seuls les utilisateurs enregistrés et acceptés par les administrateurs (Scorplane et Electhor) sont
    autorisés à créer et éditer des articles.
    L'autorisation est délivrée uniquement aux utilisateurs fréquents et reconnus du Loult. Les critèw
    qui dictent la décision des administrateurs sont clairement arbitraire, et probablement dans
    certains cas injustes. Quelques conseils pour avoir un jugement favorable de la part des admins:
    </p>
    <ul>
        <li>Venez souvent avec le même cookie, celui-même avec lequel vous vous êtes inscrit sur le site</li>
        <li>Avec ledit cookie, tâchez de bien vous comporter, d'éviter de flooder</li>
        <li>Soyez sympa avec les admins, même si ça vous arrache un bras. c la dictature, c komss sa</li>
    </ul>
    <p>
    L'édition d'article est illimitée, et la création de page aussi, pour tout les utilisateurs. <br/>
    Notez qu'une page "perso" peut être éditée, même sans être autorisé par les admins, si vous désirez
    officialiser du drama à votre propos.
    </p>
    <h2>2. Contenu</h2>
    <p>Pour faire simple, ce site est là pour:</p>
    <ul>
        <li>Rigoler et être sympa entre loultistes</li>
        <li>Jeter de l'huile sur le drama</li>
        <li>Favoriser le branlenrond loultiste au maximum</li>
        <li>Immortaliser nos mémés de qualitay</li>
    </ul>
    <p>Il n'est pas là pour:</p>
    <ul>
        <li>Proférer des discours racistes, haineux, clairement homophobes, et tutti quanti</li>
        <li>Harceler des membres du site d'une façon où d'une autre</li>
        <li>Épancher toute forme de frustration vécue dans la vraie vie les pages du wiki, à répétition</li>
        <li>Servir de site de propagande pour tout autre communauté que le Loult</li>
    </ul>
    <p>Bien entendu, ce sont des règles assez générales, et les admins n'hésiteront pas à bannir
    les emmerdeurs en tout genre, sur des critères tout à fait arbitraires. La modération de Marill
    sur le loult passera globalement pour souple vis-à-vis de la modération appliquée sur ce site.
    Si l'injustice de nos décisions en frustrent certains dont la vie dépend beaucoup du Loult,
    nous leur rappellont qu'il existe un monde plein de surprises à l'extérieur de votre appart'.</p>
{% endblock %}
