{% extends "base.html" %}
{% from 'macros.html' import format_user %}

{% block custom_css %}
<style>
    @font-face {
        font-family: 'pokefont';
        src: url('{{ url_for('static', filename='fonts/pokemon_solid.ttf') }}');
    }

    #page-title {
        font-family: pokefont;
    }
</style>

{% endblock %}


{% block headernav %}
<ul class="list-inline">
    {% if page_data != None %}
        <li class="list-inline-item"><a  href="{{ url_for('page_edit', page_name=page_name ) }}">Éditer</a></li>
    {% endif %}
</ul>
{% endblock %}

{% block body %}
<div class="container">
    {% if page_data != None %}
        <audio>
            <source src="{{ url_for('static', filename='sound/' + audio_filename) }}"></source>
        </audio>
        <h2 class="text-center" id="page-title" onmouseover="playclip();"> {{ page_data.title|title|safe }} </h2>
        <div class="row">
            <div class="col-md-9">
                {{ page_data.html_content | safe }}
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-block" style="padding: 10px;">
                        <h4 class="card-title">Derniers éditeurs</h4>
                    </div>
                    <ul class="list-group list-group-flush">
                        {% for edit in page_data.history %}
                            <li class="list-group-item">{{ format_user(edit.editor) }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    {% else %}
    <div class="alert alert-info">
        Aucun contenu rédigé pour cette page à ce jour. Vous pouvez
        <a href="{{ url_for('page_create', page_name=page_name) }}">créer cette page</a>.
    </div>
    {% endif %}
</div>
{% endblock %}

{% block custom_js %}
    <script src="{{ url_for('static', filename='js/wiki_page.js') }}"></script>
{% endblock %}
