{% macro format_user(user_obj,with_link=true) -%}
    {% if with_link %}
        <a href="{{ url_for('user_page', user_id=user_obj.short_id) }}" class="btn">
        <img src="{{ url_for('static', filename='images/pokemon/small/' + user_obj.poke_params.img_id + '.gif') }}">
            <span style="color: {{ user_obj.poke_params.color }};">{{ user_obj.poke_params.pokename + " " + user_obj.poke_params.poke_adj }}</span>
        </a>
    {% else %}
        <img src="{{ url_for('static', filename='images/pokemon/small/' + user_obj.poke_params.img_id + '.gif') }}">
        <span style="color: {{ user_obj.poke_params.color }};">{{ user_obj.poke_params.pokename + " " + user_obj.poke_params.poke_adj }}</span>
    {% endif %}

{%- endmacro %}
