{% extends "base.html" %}
{% from 'macros.html' import format_user %}

{% block body %}
    <div class="container">
        <h2>Liste des utilisateurs</h2>
        <div class="row">
            <div class="col-md-4">
                <a class="btn btn-warning" href="{{ url_for('users_list', action='clear_idle') }}">
                    Supprimer les utilisateur oisifs
                </a>
            </div>
            <form action="{{ url_for("users_list", action='register') }}" method="post" class="form-inline col-md-5 offset-md-3">
                <div class="form-group">
                    <label for="user" class="control-label">Cookie</label>
                    <input type="text" class="form-control" name="user">
                </div>
                <button type="submit" class="btn btn-primary">Inscrire</button>
            </form>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Inscription</th>
                <th scope="col">Autorisé</th>
                <th scope="col">Nombre d'éditions</th>
            </tr>
            </thead>
            <tbody>
            {%  for user in users %}
                <tr>
                    <th scope="row">{{ format_user(user) }}</th>
                    <td>{{ user.registration_date }}</td>
                    {% if user.is_allowed %}
                        <td>Autorisé
                            <a class="btn btn-danger" href="{{ url_for('users_list', action='block', userid=user.short_id) }}">
                                <i class="fa fa-remove "></i>
                            </a>
                        </td>
                    {% else %}
                        <td>En attente
                            <a class="btn btn-primary" href="{{ url_for('users_list', action='allow', userid=user.short_id) }}">
                                <i class="fa fa-arrow-circle-o-right"></i>
                            </a>
                        </td>
                    {% endif %}
                    <td> {{ user.edits | length }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}